    .eight h1 {
    color: #003399;
    font-weight: 600;
    text-align:center; 
    text-transform:uppercase;
    font-size:14px; letter-spacing:1px;  
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }

  .eight h1:after,.eight h1:before {
   content: "";
   display: block;
   border-bottom: 2px solid #ccc;
   background-color:#f8f8f8; 
  }

  .subt h2:after,.subt h2:before {
   content: "";
   display: block;
   border-bottom: 2px solid #ccc;
   text-align: center;
  }

  .log{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .log-div{
    border-radius: 8px;
  }

  .style_th{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    text-align: center
  }

  .buttons-excel{
      background-color: green;
  }

  /*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  /*background-color: #f1f1f1;*/
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

html{
  margin-top: 2;
  margin-left: 8px;
  margin-right:8px; 
  margin-bottom: 0;
}
body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}
aside{
  font-size:14px;
}
.stilot1{
  border: 1px solid black;
  padding: 2.5px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;

}

.table3 tr td {
text-align: center;
border: 1px solid black;
}

.table2 {
  margin-top: 5px;
  border-collapse: collapse;
  text-transform: uppercase;
}
.encabezado{
  font-size: 12px;
  background: #E8E8E8;
}

.table3{
  width: 100%;
  text-transform: uppercase;
  border-collapse: separate;
  border-collapse: collapse;
  border-spacing: 10px 5px;
  border: 1px solid black;
}
.subt tr th {
  border-collapse: separate;
  border-spacing: 10px 5px;
  border: 1px solid black;
  font-size:13px;
  width:100%;
  font-family: Helvetica, Arial, sans-serif;
}
.clase_table {
  border: 1px solid #0275d8;
  border-radius: 5px;
  -moz-border-radius: 20px;
  padding: 2px;
}


#tanModal{
  max-width: 75% !important;
}

#headModal{
  background-color: black;
  color: white;
  text-align: center;
}
.input-dark{
  border: solid 1px black;
  border-radius: 0px;
}
.input-dark{
  border: solid 1px black;
}

/* ESTILOS DETALLE ORDEN*/
.dtOrden1{
  font-size: 12px;
  text-align: left
  border: 1px solid blue;
  padding: 2.5px;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
}

